<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить организм</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Добавить новый организм</h1>
    <form method="POST">
        <label for="id">ID организма:</label>
        <input type="text" name="id" id="id" value="{{ request.form['id'] if request.form.get('id') else '' }}" required><br><br>

        <label for="name">Название организма:</label>
        <input type="text" name="name" id="name" value="{{ request.form['name'] if request.form.get('name') else '' }}" required><br><br>

        <label for="description">Описание (необязательно):</label>
        <textarea name="description" rows="4" cols="50">{{ request.form['description'] if request.form.get('description') else '' }}</textarea><br><br>

        <input type="submit" value="Добавить организм">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Назад</a>
</body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
    {% for category, message in messages %}
      <li style="color: {% if category == 'warning' %}orange{% elif category == 'success' %}green{% else %}black{% endif %};">
        {{ message }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</html>
