<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гены</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Список всех генов</h1>
    <table>
        <tr>
            <th>ID Гена</th>
            <th>Последовательность</th>
            <th>Организм</th>
            <th>Действия</th>
        </tr>
        {% for gene in genes %}
        <tr>
            <td>{{ gene.id }}</td>
            <td>{{ gene.sequence }}</td>
            <td>{{ gene.organism.name }}</td>
            <td>
                <a href="{{ url_for('edit_gene', gene_id=gene.id) }}">Редактировать</a>
                <a href="{{ url_for('delete_gene', gene_id=gene.id) }}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_gene') }}">Добавить ген</a>
    <a href="{{ url_for('add_organism') }}">Добавить организм</a>
</body>
</html>
